<div class="container">
    <div class="card">
      <div class="card-body">
        <div> <h2>S'inscrire</h2></div>
      <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Nom" placeholder="Nom" >
      </div>
    
      <div class="mb-3 row">
         <input class="form-control form-control-sm" type="Code fiscale" placeholder="Code fiscale" >
      </div>
      <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Email" placeholder="Email" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Adresse 1" placeholder="Adresse 1" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Adresse 2" placeholder="Adresse 2" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type="ville" placeholder="ville" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Code postal" placeholder="Code postal" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Pays" placeholder="pays" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type="Mot de passe" placeholder="Mot de passe" >
     </div>
     <div class="mb-3 row">
        <input class="form-control form-control-sm" type=" Confirmer mot de passe" placeholder=" Confirmer mot de passe" >
     </div>
      <div  class="mb-3 d-flex justify-content-between"  >
        <button type="button" class="btn btn-link" (click)="login()">s'inscrire</button>
        <button type="button" class="btn btn-primary"> <i class="fa-solid fa-check"></i> se connecter</button>
        
       
      </div>
      </div>
    </div>
    </div>
